/* Add this to your CSS file or in a <style> tag */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  padding: 2rem;
  box-sizing: border-box;
}

svg {
  display: block;
  /* Removes any default inline spacing */
  margin: auto;
  /* This will center the SVG in the container if it's a flex item */
  max-width: 100%;
  /* Ensures SVG is not larger than the container */
  max-height: 100vh;
  /* Ensures SVG is not taller than the viewport */
  color: #ca3535;
}
.bar-graph-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; /* Ensure it's displayed on top of other elements */
}


.region {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
  transition: fill 0.3s;
}

.region:hover {
  fill: #aaaaaa;
  /* Darker fill on hover */
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}